body {
    background-color: #fff;
    font-family: Roboto;
}
.list {
    list-style: none;
}
.link {text-decoration: none;}
.menu-link {
    font-family: 'Roboto',
        sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px1.5;
        letter-spacing: 0.02em;    
        color: #2E2F42;
}