:root {
  --primary-text-color: #434455;
  --secondary-text-color: #2e2f42;
  --primary-text-color-theme-dark: #ffffff;
  --secondary-text-color-theme-dark: #F4F4FD;
  --accent-color: #404bbf;
  --logo-color: #4d5ae5;
}
.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

body {
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

/* ==================================COMPONENTS=============================== */

/* ==================================/COMPONENTS=============================== */

/* ==================================HEADER=============================== */
/* Logotype */
.logotype {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}
.logo-color {
  color: var(--logo-color);
}

.menu-link {
  font-weight: 500;
  color: var(--secondary-text-color);
}
.menu-link:hover,
.menu-link:focus {
  color: var(--accent-color);
}

/* Contacts */
.contact-link {
  font-style: normal;
  font-weight: 400;
  color: var(--text-color-the);
}
.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
}
/* ==================================/HEADER=============================== */

/* ====================================HERO================================ */

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  /* color: var(--primary-text-color-theme-dark; */
}

/* Button */
.modal-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--primary-text-color-theme-dark);
  background: #4d5ae5;
  cursor: pointer;
}

.modal-btn:hover,
.modal-btn:focus {
  background: #404bbf;
}
/* ====================================/HERO================================ */
